/* Basic CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}


:root {
    --color-primary-orange: hsl(25, 97%, 53%);
    --color-neutral-white: hsl(0, 100%, 100%);
    --color-neutral-grey-500: hsl(217, 12%, 63%);
    --color-neutral-grey-900: hsl(213, 19%, 18%);
    --color-neutral-grey-950: hsl(216, 12%, 8%);
    --color-accent-bg: hsla(211, 21%, 21%, 0.938);
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.4;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    min-height: 100vh;
    background-color: var(--color-neutral-grey-950);
    padding-inline: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
  all: unset;
  cursor: pointer;
}

.rating-card {
    background-color: var(--color-neutral-grey-900);
    padding: 1.5rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 25rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rating-img {
    background-color: hsla(211, 21%, 21%, 0.938);
    align-self: flex-start;
    padding: 0.7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.rating-card h1 {
    color: var(--color-neutral-white);
}

p {
    color: var(--color-neutral-grey-500);
}

.ratings{
    display: flex;
    justify-content: space-between;
}

.rating-btn{
    background-color: hsla(211, 21%, 21%, 0.938);
    padding: 1rem;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: hsla(0, 0%, 100%, 0.815);

    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-btn:hover{
    background-color: var(--color-primary-orange);
}

.active{
    background-color: var(--color-neutral-white);
    color: var(--color-neutral-grey-950);
}

.submit-btn{
    border-radius: 1.5rem;
    text-align: center;
    background: var(--color-primary-orange);
    padding: 0.75rem 1rem;
    color: var(--color-neutral-grey-950);
    text-transform: uppercase;
    font-weight: 500;
}

.submit-btn:hover{
    background-color: var(--color-neutral-white);
}

.thankyou-state{
    display: none;
}

/* .rating-state{
    display: none;
} */

/* Thank you staate */
.thankyou-img{
    width: 8rem;
    margin: auto;
}

.rating-feedback{
    background-color: var(--color-accent-bg);
    align-self: center;
    padding: 0.5rem 1.3rem;
    border-radius: 1.5rem;
    color: var(--color-primary-orange);
}

.rating-card.thankyou-state{
    text-align: center;
    padding: 2.5rem 1.5rem; 
}

